#conteneur {
  display: flex;
  flex-direction: column;
  /* border: 3px solid red;  */
  margin-top: 1%;
  height: 120vh;
  background-color: white;
}
.entete {
  /* border: 3px solid red; */
  background-color: rgb(81, 191, 208);
  position: relative;
  height: 7%;
}
.entete h1 {
  text-align: center;
}
.entete button {
  position: absolute;
  right: 6%;
  top: -150%;
  padding: 1%;
  font-size: 2rem;
  background-color: rgb(81, 191, 208);
  text-decoration: none;
}
.listetof {
  border: 1px solid rgb(81, 191, 208);
  /* border-radius: 2%; */
  width: 40%;
  height: 70vh;
  margin-top: 3%;
  margin-left: 2%;
  /* padding: 1%;  */
}

.contjeu {
  display: flex;
  /* border:3px solid green; */
  /* justify-content: space-between; */
}
.tof img {
  border-radius: 100%;
  /* padding: 1%;   */
  margin-left: 13%;
  width: 20%;
}
.tof {
  /* border: 1px solid red;   */
  /* border-radius: 4%;  */
  background-color: rgb(81, 191, 208);

  /* width: 100%;  */
  /* display: flex; */
}
/* p
    margin-left: 23%;  
     margin-top: 7%;  
    font-size: 1em;  
     text-align: center;  
    
    */

.lisquestion {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  margin-right: 4%;
  margin-left: 4%;
}
.creer {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  margin-top: 7%;
  margin-right: 4%;
  margin-left: 4%;
}
.lisJoueur {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  margin-top: 7%;
  margin-right: 4%;
  margin-left: 4%;
}
.creerQuest {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  margin-top: 7%;
  margin-right: 4%;
  margin-left: 4%;
}
.liste {
  /* display: flex;
  flex-direction: column;
  align-content: space-between; */
  margin-top: 5%;
}
.questionListe {
  /* border: 3px solid violet; */
  width: 65%;
  margin-left: 3%;
  margin-top: 1%;
  /* margin-top: 1%;   */
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  /* height: auto;
   width: auto;
    border: 2px solid red;  */
}
.nombredequestion {
  /* border: 2px solid violet; */
  text-align: center;
  flex: 1;
}
.ok {
  margin-top: 3%;
  margin-left: 12%;
}
.lesquestions {
  border: 2px solid red;
  flex: 7;
  width: 70%;
  margin-left: 15%;
}
.suivant {
  /* border: 2px solid gold; */
  flex: 1;
}
